.body{
    background-image: url("https://bit.ly/2PBu8kd");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 850px;
    }   

header{
    width: 100%;
    text-align: center;
    height: 250px;
}

.logo{
    position: relative;
    height: 175px;
    width: auto;
    margin: 0 auto;
    padding: 15px;
    z-index: 0;
}

.attackPop{
    position: relative;
    height: 100px;
    width: auto;
    transform: rotate(35deg);
}


.card-group{
    width:80%;
    align-items: center;
    margin-left: 12%;
  }

  .card-header{
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    text-align: center;
    height: 1.5em;
  }

  .icon{
    height: 100px;
    width: auto;
    padding: .3em;
  }

  .combat{
    margin-top: 3em; 
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
  }

  .baileys{
      height: 150px;
      width: auto;
  }

  footer{
    color: whitesmoke;
    position: relative;
    bottom: 0;
    width: 95%;
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: 15px;
    font-weight: 200;
}

.text{
    color: rgba(245, 245, 245, 0.85);
}